.header {
	height: 100vh;
	padding: 154px 0 34px;
	background-color: $background-dark;

	@include screen-sm {
		height: unset;
	}

	@include screen-md {
		padding: 230px 0 40px;
	}

	@include screen-lg {
		padding: 394px 0 60px;
	}

	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__top {
		margin-bottom: 106px;

		@include screen-md {
			margin-bottom: 52px;
		}

		@include screen-lg {
			margin-bottom: 80px;
		}
	}

	&__title {
		margin-bottom: 24px;
		color: $text-light;
		font-size: rem(36);
		font-weight: 400;
		line-height: 1em;
		text-transform: uppercase;

		@include screen-xs {
			margin-bottom: 26px;
			font-size: rem(48);
		}

		@include screen-md {
			margin-bottom: 22px;
			font-size: rem(72);
		}

		@include screen-lg {
			margin-bottom: 60px;
			font-size: rem(116);
		}
	}

	&__title_green {
		color: $text-green;
	}

	&__subtitle-wrapper {
		@include screen-sm {
			display: flex;
			justify-content: space-between;
		}
	}

	&__subtitle {
		color: $text-light;
		font-size: rem(12);
		font-weight: 300;
		line-height: 1.16em;
		letter-spacing: 0.04em;
		text-transform: uppercase;

		@include screen-xs {
			font-size: rem(14);
		}

		@include screen-md {
			font-size: rem(16);
		}

		@include screen-lg {
			font-size: rem(26);
		}
	}

	&__button-top {
		display: none;

		@include screen-sm {
			display: block;
			font-size: rem(14);
			padding: 12px 10px 12px 10px;
			border-radius: 23px;
		}

		@include screen-lg {
			font-size: rem(22);
			padding: 20px;
			border-radius: 37px;
		}
	}

	&__bottom {
		flex-grow: 1;
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			height: 1px;
			width: 100%;
			opacity: 0;
			transform: translateX(-50%);
			background-color: $white;

			@include screen-sm {
				opacity: 1;
			}
		}

		@include screen-sm {
			align-items: flex-start;
			padding-top: 22px;
		}

		@include screen-lg {
			padding-top: 42px;
		}
	}

	&__bottom-contacts {
		@include screen-sm {
			width: 100%;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}

	&__phone {
		display: block;
		margin-bottom: 10px;
		text-align: center;
		color: $text-light;
		font-size: rem(12);
		font-weight: 400;

		&:hover {
			text-decoration: underline;
		}

		@include screen-sm {
			text-align: start;
		}

		@include screen-md {
			margin-bottom: 0;
		}

		@include screen-lg {
			font-size: rem(19);
		}
	}

	&__address {
		text-align: center;
		color: $text-light;
		font-size: rem(12);
		font-weight: 400;
		font-style: normal;

		@include screen-lg {
			font-size: rem(19);
		}
	}

	&__button-bottom {
		font-size: rem(17);
		max-width: 288px;
		margin: 0 auto 80px;
		padding: 8px 10px;

		@include screen-sm {
			display: none;
		}
	}
}

