.admin-button {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 8px 40px 8px 14px;
	background-color: #d9d9d9;
	border-radius: 16px;
	color: $text-dark;
	font-size: rem(18);
	transition: box-shadow 0.3s ease;

	&:hover {
		box-shadow: 1px 3px 12px $shadow-light;
	}

	svg {
		width: 32px;
		height: 32px;
		margin-right: 28px;

		@include screen-sm {
			width: 28px;
			height: 28px;
		}

		@include screen-lg {
			width: unset;
			height: unset;
		}
	}
}
