.drawer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 80px 0 30px;
	background-color: $background-dark;
	z-index: 80;
	transform: translateY(-100%);
	transition: transform 0.3s ease-in-out;

	&_is-open {
		transform: translateY(0);

		@include screen-sm {
			transform: translateY(-100%);
		}
	}

	&__container {
		max-height: 100%;
		overflow-y: auto;
	}

	&__links {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		padding-bottom: 18px;

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			height: 1px;
			width: 100vw;
			background-color: $white;
			transform: translateX(-50%);
		}
	}

	&__link-item {
		font-size: rem(26);
		font-weight: 400;
		line-height: 1em;
		text-transform: uppercase;

		a {
			position: relative;
			color: $text-light;
			cursor: pointer;

			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				width: 100%;
				transform: translateX(calc(-100% - 18px));
				background-color: $white;
				transition: all 0.2s ease;
			}
	
			&:hover {
				&:after {
					transform: translateX(0);
				}
			}
		}

		&:not(:last-child) {
			margin-bottom: 18px;
		}
	}

	&__main-info {
		padding-top: 30px;
	}

	&__main-info-item {
		display: flex;
		flex-direction: column;
		font-size: rem(13);
		font-weight: 300;
		line-height: 1.16em;

		span {
			margin-bottom: 16px;
			color: $text-light;
		}

		address {
			color: $text-light;
			font-style: normal;
		}

		&:not(:last-child) {
			margin-bottom: 26px;
		}
	}

	&__social-item {
		&:first-child {
			margin-top: 10px;
		}

		&:not(:last-child) {
			margin-bottom: 4px;
		}

		&:hover {
			text-decoration: underline;
		}

		a {
			color: $text-light;
		}
	}

	&__contacts-item {
		&:hover {
			text-decoration: underline;
		}
		
		a {
			color: $text-light;
			font-size: rem(13);
			font-weight: 300;
			line-height: 1.16em;
		}
	}
}
