.mapboxgl-marker {
	background-image: url("../../../public/icons/map-marker.svg") !important;
	background-size: contain;
	background-repeat: repeat-x;
	background-position: center;

	svg {
		display: none;
	}
}

.tomtomAttribution {
	display: none;
}
