$dark: #282828;
$grey: #727272;
$light: #f1f1f1;
$white: #fff;
$green: #148931;
$red: #ff0000;

$background-dark: $dark;
$background-light: $light;
$background-green: $green;

$text-dark: $dark;
$text-light: $white;
$text-green: $green;

$shadow-green: rgba(20, 137, 49, 30%)
