@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../../public/fonts/HelveticaRegular.eot');
	src: local('☺'), url('../../public/fonts/HelveticaRegular.woff') format('woff'), url('../../public/fonts/HelveticaRegular.ttf') format('truetype'), url('../../public/fonts/HelveticaRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../../public/fonts/helveticaneuecyr-light.eot');
	src: local('☺'), url('../../public/fonts/helveticaneuecyr-light.woff') format('woff'), url('../../public/fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../../public/fonts/helveticaneuecyr-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: 'HelveticaNeueCyr', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, div, a, button, address, input, img, br, textarea {
	&::-moz-selection {
		color: $text-light;
		background-color: $background-green;
	}
}

h1, h2, h3, h4, h5, h6, p, span, div, a, button, address, input, img, br, textarea {
	&::selection {
		color: $text-light;
		background-color: $background-green;
	}
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(69, 73, 70, 0.8);
	border-radius: 22px;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9; 
  border-radius: 22px;

	&:hover {
		background: #bebebe; 
	}
}

