.admin-home {
	padding: 130px 16px 20px;
	background-color: $background-dark;
	overflow-y: auto;
	overflow-x: hidden;

	@include screen-sm {
		margin-left: 166px;
	}

	@include screen-md {
		padding: 40px 22px 22px;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
	}

	@include screen-lg {
		margin-left: 254px;
		padding: 40px 30px 30px 34px;
	}

	&__container {
		margin: 0 auto;

		@include screen-md {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		@include screen-lg {
			max-width: 1668px;
		}
	}

	&__left-content {
		@include screen-md {
			flex-grow: 1;
			margin-right: 44px;
		}

		@include screen-lg {
			margin-right: 72px;
		}
	}

	&__date {
		margin-bottom: 44px;

		@include screen-lg {
			margin-bottom: 60px;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		margin-bottom: 62px;

		@include screen-md {
			margin-bottom: 0;
		}
	}

	&__button-book {
		margin-bottom: 16px;

		@include screen-md {
			width: 100%;
			padding: 9px 14px 9px 10px;
			font-size: rem(15);

			svg {
				margin-right: 14px;
			}
		}

		@include screen-lg {
			font-size: rem(24);
		}
	}

	&__button-new-client {
		width: 284px;
			
		@include screen-md {
			width: 100%;
			padding: 9px 14px 9px 12px;
			font-size: rem(15);

			svg {
				margin-right: 14px;
			}
		}

		@include screen-lg {
			font-size: rem(24);
		}
	}

	&__right-content {
		display: flex;
		flex-direction: column-reverse;

		@include screen-md {
			flex-grow: 2;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	
	&__appointments {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		max-width: 400px;
		padding: 44px 0 0;

		@include screen-md {
			left: unset;
			transform: translateX(0);
			max-width: unset;
			flex-grow: 1;
			margin-right: 14px;
			padding-right: 22px;

			&::after {
				content: "";
				position: absolute;
				top: -40px;
				right: 0;
				width: 1px;
				height: 100vh;
				background-color: $white;
			}
		}

		@include screen-lg {
			margin-right: 30px;
			padding-right: 36px;
		}
	}

	&__appointments-wrapper {
		max-height: 80vh;
		overflow-y: auto;

		@include screen-md {
			max-height: 580px
		}

		@include screen-lg {
			max-height: 760px
		}
	}

	&__appointments-refresh {
		position: absolute;
		top: 20px;
		right: 12px;
		background-color: transparent;
		cursor: pointer;
		transform-origin: 52% 41%;

		svg {
			width: 16px;
			height: 16px;
		}

		&_is-loading {
			animation: spin-refresh 0.3s linear infinite;
		}

		@include screen-md {
			top: 12px;
			right: 32px;
			transform-origin: 51% 45%;

			svg {
				width: unset;
				height: unset;
			}
		}

		@include screen-lg {
			right: 44px;
		}
	}

	&__appointments-date {
		margin-bottom: 6px;
		text-align: center;
		color: $light;
		font-size: rem(10);
		line-height: 1.16em;

		@include screen-lg {
			font-size: rem(15);
		}
	}
	
	&__calendar {
		position: relative;
		margin-bottom: 24px;
		padding-bottom: 12px;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: -16px;
			width: 100vw;
			height: 1px;
			background-color: $white;
		}

		@include screen-md {
			margin: 42px 0 24px;
			padding-bottom: 0;

			&::after {
				opacity: 0;
			}
		}

		@include screen-lg {
			margin: 0 0 24px;
		}
	}

	&__notes {
		display: none;

		@include screen-md {
			display: block;
		}
	}
}

@keyframes spin-refresh {
	0% {
		transform: rotateZ(0);
	}

	100% {
		transform: rotateZ(360deg);
	}
}
